<full-calendar class="container calendar" [options]="calendarOptions"></full-calendar>

<p-dialog header="Add Details" [(visible)]="showForm" [style]="{width: '40vw'}" >
  <div class="container" >
    <form (ngSubmit)="addTask(form.value, date)" [formGroup]="form">
      <label>Task</label>
      <input type="text" formControlName="title" >
      <button class="btn btn-primary" type="submit" >Add New Task</button>
    </form>

  </div>
</p-dialog>

<!-- edit form  -->
<p-dialog header="Edit Details" [(visible)]="showEditForm" [style]="{width: '50vw'}" >
  <div class="container" >
    <form [formGroup]="editForm">
      <label>Task</label>
      <input type="text" formControlName="title" >
      <div>
        <button class="btn btn-primary" (click)= "editTask(editForm.value)">Edit</button>
        <button class="btn btn-primary" (click)= "deleteTask(editForm.value)">Delete</button>
      </div>


    </form> 

  </div>
</p-dialog>
